click @ file:///C:/b/abs_f9ihnt72pu/croot/click_1698129847492/work
colorama @ file:///C:/ci_311/colorama_1676422310965/work
Flask @ file:///C:/b/abs_efc024w7fv/croot/flask_1702980041157/work
Flask-SQLAlchemy==3.1.1
Flask-Testing==0.8.1
greenlet==3.0.3
iniconfig==2.0.0
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///C:/b/abs_f7x5a8op2h/croot/jinja2_1706733672594/work
MarkupSafe @ file:///C:/b/abs_ecfdqh67b_/croot/markupsafe_1704206030535/work
packaging==23.2
pluggy==1.4.0
pytest==8.0.0
SQLAlchemy==2.0.25
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
typing_extensions==4.9.0
Werkzeug @ file:///C:/b/abs_3901hwqcw0/croot/werkzeug_1706210134718/work
